.navbar {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: red;
    justify-content: space-between;
}

.left-navbar {
    display: flex;
    align-items: center;
}

.poke-finder-logo {
    height: 45px;
}

.poke-finder-logo:hover {
    cursor: pointer;
}

.mid-navbar {
    display: flex;
    align-items: center;
    width: 500px;
}

.search-bar {
    height: 30px;
    width: 400px;
}

.search-icon {
    height: 30px;
    margin-left: 10px;
}

.search-icon:hover {
    cursor: pointer;
}

.right-navbar {
    display: flex;
    align-items: center;
    background-color: blue;
    width: 300px;
}

.about-button {
    
}

.pokeAPI-button {

}

.login-button {

}