.navbar {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: red;
    justify-content: space-between;
}

.left-navbar {
    display: flex;
    align-items: center;
}

.poke-finder-logo {
    height: 45px;
}

.poke-finder-logo:hover {
    cursor: pointer;
}

.mid-navbar {
    display: flex;
    align-items: center;
    width: 500px;
}

.search-bar {
    height: 30px;
    width: 400px;
}

.search-icon {
    height: 30px;
    margin-left: 10px;
}

.search-icon:hover {
    cursor: pointer;
    background-color: rgb(200, 0, 0);
}

.right-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.nav-buttons {
    border: none;
    font-weight: bold;
    font-size: 14px;
    height: 50px;
    width: 60px;
    background-color: red;
}

.nav-buttons:hover {
    cursor: pointer;
    background-color: rgb(200, 0, 0);
}